In [51]:
import pandas as pd
from sklearn.metrics import r2_score
from sklearn.model_selection import GridSearchCV

In [52]:
test_df = pd.read_csv("./data/rawData/sbj_1_I.csv")
df = pd.read_csv("./data/concatedData/combined_csv.csv")

In [53]:
df.head()

   time  Power      Oxygen  Cadence         HR         RF
0     2    0.0  742.400000      0.0  73.200000  16.800000
1     3    0.0  737.500000      0.0  73.500000  16.000000
2     4    0.0  729.261905      0.0  73.642857  15.404762
3     5    0.0  718.937500      0.0  73.687500  14.937500
4     6    0.0  707.222222      0.0  73.666667  14.555556

In [54]:
df.describe()

,time,Power,Oxygen,Cadence,HR,RF
count,194331.000000,194331.000000,194331.000000,194331.000000,194331.000000,194331.000000
mean,1209.727774,142.437478,2313.769284,70.317138,127.814212,29.158271
std,764.841905,121.223069,1272.320962,36.759724,35.887111,9.604156
min,0.000000,0.000000,105.273333,0.000000,45.394286,5.927273
25%,529.000000,0.000000,1096.750000,80.000000,101.000000,22.300000
50%,1168.000000,134.000000,2282.083333,90.000000,129.900000,28.200000
75%,1843.000000,247.000000,3307.950000,90.000000,157.550000,35.050000
max,3133.000000,899.028571,5988.450000,153.268421,204.600000,172.300000

In [55]:
feat_df = df.drop(['Oxygen'], axis=1)
targ_df = df['Oxygen']

test_feat_df = test_df.drop(['Oxygen'], axis=1)
test_targ_df = test_df['Oxygen']

## Models to be tested:
##### 1. KNN Regression

In [56]:
from sklearn.neighbors import KNeighborsRegressor
neigh = KNeighborsRegressor(n_neighbors=5)
neigh.fit(feat_df, targ_df)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                    weights='uniform')

In [57]:
test_pred_targ = neigh.predict(test_feat_df)
print(test_pred_targ.max(), test_targ_df.max())

4552.8 4575.6

In [58]:
r2_score(test_pred_targ,test_targ_df)

0.99968208061438

In [59]:
pred_targ.shape

(194331,)

##### 2. Linear Regression

In [42]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(feat_df, targ_df)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [47]:
LinearR_pred_targ = reg.predict(feat_df)
print(LinearR_pred_targ.max(), targ_df.max())

7107.088392881607 5988.45

In [44]:
r2_score(LinearR_pred_targ,targ_df)

0.8733274252499806